.about-page-container {
	font-size: larger;
}

.about-article {
	background-color: var(--yellow);
	color: var(--blue);
	padding: 10px;
	margin: 15px auto;
}

.article-title {
	padding: 5px;
	background-color: var(--blue);
	color: var(--yellow);
}

ul {
	list-style: square;
	margin-left: 20px;
}

a:visited,
a:hover,
a:active {
	color: var(--blue);
	text-decoration: none;
}

.about-details {
	margin-bottom: 0.25em;
}

.about-summary {
	margin: 0.25em;
	font-weight: bold;
}

.teammate {
	margin-top: 0.8em;
}
