.list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 75vh;
	background: red;
	margin-top: 5px;
}

.full-list-container {
	background-color: beige;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: 74vh;
	margin-top: 5px;
}

.full-list-items {
	background-color: blueviolet;
	overflow: scroll;
}

.empty-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 70vh;
}

.empty-list-add-item-button {
	background: var(--yellow);
	color: var(--blue);
	height: 8vh;
	width: 30vw;
	font-family: 'VT323', monospace;
	font-size: 3rem;
	cursor: pointer;
}

.empty-list-container > h3 {
	text-align: center;
}
