List {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 75vh;
	margin-top: 5px;
}

.full-list-container-mobile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: 74vh;
	margin-top: 5px;
	width: 100%;
}

.full-list-search-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 1.5rem;
	width: 100%;
	padding: 10px;
}

.full-list-search-container h2 {
	line-height: 2.5rem;
}

.full-list-items-container {
	margin: 0px;
	overflow: scroll;
	width: 100%;
}

.full-list-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
	padding: 10px;
	border: 1px dashed var(--yellow);
}

.full-list-items-timeframe {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 105%;
}

.full-list-items-timeframe > h3,
.full-list-items-timeframe > p {
	margin: 10px;
	text-align: center;
}

.empty-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 70vh;
}

.empty-list-add-item-button {
	background: var(--yellow);
	color: var(--blue);
	height: 8vh;
	max-height: fit-content;
	width: 30vw;
	font-family: 'VT323', monospace;
	font-size: 3rem;
	cursor: pointer;
}

.empty-list-container > h3 {
	text-align: center;
}

/* when scrollbar shows */
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 3px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--yellow);
}

::-webkit-scrollbar-corner {
	background-color: var(--blue);
}

section {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: flex-start;
	border: 2px solid white;
	margin: 10px;
	padding: 20px;
}

.list-titles {
	display: flex;
	gap: 50px;
	width: 100%;
	justify-content: space-evenly;
}

.item-title-1 {
	width: 15vw;
	text-align: center;
}

.item-title-2 {
	width: 10vw;
	text-align: center;
}

.item-title-3 {
	width: 10vw;
	text-align: center;
}

.item-title-4 {
	width: 10vw;
	text-align: center;
}

.list-titles > .item-title {
	align-items: flex-start;
}

.group-title {
	display: flex;
	gap: 25px;
	align-items: center;
}
