.ListItem {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
	border: 1px solid white;
}

.ListItem-checkbox {
	accent-color: var(--color-accent);
}

.ListItem-label {
	margin-left: 0.2em;
}
